/* Default styles for SBS 2.0 */

::-webkit-scrollbar {
    background-color: transparent;
    width: 1em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Arial", sans-serif, "SMILEBASIC";
    background-color: var(--primary-bg);
    background-image: var(--background-tile);
    background-attachment: fixed;
    color: var(--primary-text);
}

input {
    color: var(--input-color);
}


nav a {
    color: #99b;
}
a {
    color: var(--link-color);
    text-decoration: none;
    transition: color .25s;
}

a:hover {
    color: gray;
}

footer {
    background-color: black;
    color: white;
    width: 80%;
    padding: 6px;
    margin-right: 20%;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 1.5em;
    line-height: 1.5em;
    border-bottom: 1px solid #333;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .7);
    overflow: hidden;
    z-index: 1000000;
}

nav #nav-brand {
    vertical-align: top;
}

nav #nav-brand img {
    width: 3em;
    padding: 0 .75em;
    text-align: center;
}

nav input {
    width: 50%;
    height: 1.5em;
    background: var(--secondary-bg);
    border: 1px solid var(--secondary-accent);
    outline: none;
    color: var(--input-color);
    vertical-align: top;
}

nav #user-info {
    display: block;
    float: right;
    line-height: 1.5em;
    margin-right: .75em;
    height: 1.5em;
    width: fit-content;
    max-width: calc(100% - 4.5em);
}

nav #user-info .user-avatar {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 1em;
}

nav #user-info #user-name {
    line-height: 1.5em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.5em;
    display: block;
    width: max-content;
    max-width: calc(100% - 3.5em);
    float: right;
    transition: color .2s;
    color: white;
}

nav #user-info:hover #user-name {
    color: #878787;
    cursor: pointer;
}

nav #user-info #user-name:before {
    content: "▼";
    font-size: .75em;
    display: block;
    float: right;
}

nav #user-info[data-open="true"] #user-name:before {
    content: "▲";
}

nav #user-info ul {
    display: none;
}

nav #user-info[data-open="true"] ul {
    display: block;
    position: fixed;
    background: black;
    top: 0;
    right: 0;
    margin-top: 1.5em;
    width: 10em;
    list-style: none;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, .7);
}

nav #user-info[data-open="true"] ul li a:hover {
    cursor: pointer;
}

#sidebar {
    position: fixed;
    z-index: 10000;
    right: 0;
    top: 1.5em;
    background-color: var(--secondary-bg);
    float: left;
    height: 100vh;
    width: 20%;
    opacity: 1;
    box-shadow: -3px 0 5px rgba(0, 0, 0, .7);
}

#sidebar ul {
    font-size: 1.25rem;
}

#sidebar h2 {
    text-align: center;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar>ul>li {
    font-size: 1.75rem;
}

#sidebar ul>li {
    margin-bottom: .5em;
}

#sidebar ul>li>a {
    color: var(--primary-text);
}

#sidebar ul>li>a:hover {
    color: var(--primary-accent);
}

#sidebar ul>li[data-open]:before {
    content: "+ ";
    color: var(--primary-text);
    font-weight: bold;
    margin-left: -1em;
    float: left;
    text-align: right;
    cursor: pointer;
}

#sidebar ul>li[data-open="true"]:before {
    content: " -";
}

#sidebar ul>li:not([data-open="true"])>ul {
    display: none;
}

#sidebar ul>li>ul {
    margin-top: .5em;
}

nav #show-sidebar {
    display: none;
}

#content {
    margin-top: 4em;
    margin-left: 2em;
    margin-right: calc(20% + 2em);
    margin-bottom: 2em;
    width: calc(80% - 4em);
    min-height: calc(100vh - 5em);
    height: 100%;
    position: relative;
    font-size: 1em;
}

form .errors {
    color: red;
}

form input:not([type="checkbox"]), form button, form textarea {
    width: 100%;
}

#content input:not([type="checkbox"]), button, textarea {
    display: block;
    background-color: var(--secondary-accent);
    border: 1px solid var(--primary-accent);
    margin-bottom: 1em;
    padding: .25em;
    resize: vertical;
}

#content label {
    display: block;
    margin-bottom: 1em;
}

#content input:disabled, button:disabled {
    filter: invert(25%);
}

#content input[type="submit"], button {
    color: var(--primary-text);
}

#content input[type="submit"]:active, button:active {
    filter: invert(25%);
}

.gallery {
    max-width: 100%;
    position: relative;
    box-sizing: content-box;
    background-color: var(--primary-bg);
    border: 1px solid var(--primary-accent);
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery>.gallery-content>*[data-chosen] {
    display: block;
    flex-grow: 1;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.gallery>.gallery-content>*:not([data-chosen]) {
    display: none;
}

.gallery>.gallery-next {
    display: block;
    position: absolute;
    right: 0;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    background-image: url("/res/img/gallery-next.png");
    mix-blend-mode: difference;
    cursor: pointer;
}

.gallery>.gallery-prev {
    display: block;
    position: absolute;
    left: 0;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    background-image: url("/res/img/gallery-prev.png");
    mix-blend-mode: difference;
    cursor: pointer;
}

.program-infobox>table {
    width: 100%;
    background-color: var(--primary-bg);
    margin-top: 2em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .7);
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.program-infobox>table>thead>td:first-child {
    text-align: center;
    font-weight: bold;
}

.program-infobox>table>tbody>tr>td:first-child {
    text-align: right;
    font-weight: bold;
}

.program-infobox>table>tbody>tr>td:first-child:after {
    content: ": ";
}

.program-infobox>table>tbody>tr#pubkey>td:last-child {
    color: var(--pubkey-color);
    font-weight: 900;
}

.program-description>p {
    white-space: pre-wrap;
}

.composer {
    width: 100%;
    background-color: var(--secondary-accent);
    border: 2px solid var(--secondary-bg);
    padding: 2em;
    display: flex;
}
.composer[data-previewhidden="true"] .composer-commands {
    opacity: 0;
    transition: opacity .25s linear;
}

.composer .composer-editor:focus + .composer-commands, .composer[data-previewhidden="true"] .composer-commands:hover {
    opacity: 1;
}

.composer .composer-commands {
    top: 1px;
    position: absolute;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    min-height: 3em;
    width: 100%;
    vertical-align: top
}

.composer .composer-commands li {
    display: inline-block;
    min-width: 1em;
    line-height: 1.25em;
}



.composer .composer-commands li button {
    background-color: var(--secondary-bg);
    color: var(--primary-text);
    border: none;
    vertical-align: middle;
    text-align: center;
    min-height: 1.25em;
    max-height: 1.5em;
    height: 100%;
    padding: 0 auto;
    margin-bottom: 0;
}

.composer .composer-editor {
    background-color: var(--primary-bg);
    border: 1px solid var(--primary-accent);
    color: var(--input-color);
    width: 100%;
    margin: 0;
    padding: 1em 1em;
    padding-top: 3em;
    overflow: auto;
    resize: none;
    height: 100%;
    min-height: 15em;
}

.composer .composer-editorwrapper {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    flex-grow: 1;
}

.composer .composer-editorwrapper:after {
    position: absolute;
    content: "Source";
    color: var(--secondary-accent);
    bottom: 0;
    right: 1em;
    padding: .5em;
}

.composer .composer-preview {
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-accent);
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-break: break-all;
    position: relative;
}

.composer .composer-previewwrapper {
    min-width: 50%;
    height: 20em;
    width: 100%;
    position: relative;
    flex-grow: 1;
}

.composer .composer-previewwrapper:after {
    position: absolute;
    content: "Preview";
    color: var(--secondary-accent);
    bottom: 0;
    right: 1em;
    padding: .5em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.grid {
    display: grid;
}

.cell {
    min-height: max-content;
    background-color: var(--cell-background);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
    padding: 1em;
}

.cell>h2, form>h2 {
    margin-top: -.25em;
}

.cell>h1:first-child:last-child {
    margin: 0;
}

@media only screen and (max-width: 1280px) {
    #content {
        margin: 6em 0.5em;
        width: calc(100% - 1em);
    }
    nav #user-info {
        max-width: calc(50% - 6em);
    }
    nav #show-sidebar {
        display: block;
        float: right;
        width: 1.5em;
        height: 1.5em;
        margin-right: .5em;
        transition: transform .5s ease-out;
    }
    nav #show-sidebar[data-open="true"] {
        transform: rotate(90deg);
    }
    nav #show-sidebar:hover {
        filter: drop-shadow(0px 0px 10px white);
        cursor: pointer;
    }
    nav #show-sidebar:active {
        filter: invert(75%);
    }
    #sidebar:not([data-open="true"]) {
        margin-right: -15em;
    }
    #sidebar {
        width: 15em;
        overflow-x: hidden;
    }
    footer {
        margin-left: 0;
        width: 100%;
    }
    nav, #sidebar {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 800px) {
    #sidebar {
        transition: margin-right .5s;
    }
}

@media only screen and (max-width: 800px) {
    nav #user-info #user-name {
        display: none;
    }
    nav #user-info .user-avatar {
        margin-right: 0;
    }
    #sidebar {
        width: 120%;
        margin-right: -20%;
        transition: margin-right .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #sidebar:not([data-open="true"]) {
        margin-right: -120%;
    }
    .grid {
        display: block;
    }
    .cell {
        margin-bottom: 1em;
    }
    .left, .right {
        float: none;
        width: 100%!important;
    }
    .composer {
        display: block;
    }
    .composer .composer-editor {
        height: 18em;
    }
}

@media only screen and (max-width: 480px) {
    nav #nav-brand img {
        width: 1.75em;
        padding: 0 .125em;
        text-align: center;
    }
    nav #user-info {
        float: none;
        display: inline-block;
        padding-left: .25em;
    }
    .cell, .composer {
        padding: .5em;
    }
    .composer .composer-editor {
        padding-top: 5em;
    }
}

.bbcode-view {
    color: var(--primary-text);
    white-space: pre-line;
    word-break: break-all;
    padding: .5em 1em;
}

.composer .bbcode-view {
    background-color: var(--primary-bg);
}

.bbcode-view * {
    margin-bottom: 0em;
}

.bbcode-view .spoiler {
    background-color: var(--secondary-bg);
}

.bbcode-view .spoiler .spoiler-open[data-open="true"][data-open="true"] {
    filter: invert(25%);
}

.bbcode-view .spoiler .spoiler-open+.spoiler-content {
    display: none;
}

.bbcode-view .spoiler .spoiler-open[data-open="true"]+.spoiler-content {
    display: block;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--secondary-accent);
}

.bbcode-view>.spoiler>.spoiler-open[data-open="true"]+.spoiler-content {
    padding: .5em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .7);
}

.bbcode-view blockquote {
    background-color: var(--secondary-bg);
    width: 100%;
    margin: 0;
}

.bbcode-view>blockquote>h3:first-child {
    margin-top: 0;
    margin-bottom: 1em;
    font-style: italic;
    margin-left: -.5em;
}

.bbcode-view>blockquote>h3:first-child:after {
    content: ":";
}

.bbcode-view blockquote {
    padding-left: .5em;
    border-left: 2px solid var(--secondary-accent);
}

.bbcode-view>blockquote {
    padding: 1em;
    padding-left: 1em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .7);
}

.bbcode-view code {
    font-family: "SMILEBASIC", 'Courier New', Courier, monospace;
    font-size: 1em;
    display: inline;
    white-space: pre-wrap;
}

.bbcode-view code:not([data-inline]) {
    display: block;
    background: black;
    color: white;
    padding: .5em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .7);
    margin-bottom: 1em;
}

@font-face {
    font-family: "SMILEBASIC";
    src: url("/res/font/SMILEBASIC.ttf");
    /*font-size: 16px;*/
    text-rendering: geometricPrecision;
}

.user-pick {
    background-color: var(--primary-bg);
    height: max-content;
    position: relative;
}

.user-pick .picked {
    padding: .5em;
}

.user-pick .picked li {
    display: inline;
    padding-right: 1em;
    font-weight: bold;
}

.user-pick .picked li:hover {
    cursor: pointer;
}

.user-pick .picked li:before {
    content: "X ";
    color: red;
}

.user-pick input:focus+.possibilities, .user-pick .possibilities:active {
    display: block;
}

.user-pick .possibilities {
    position: absolute;
    display: none;
    top: calc(100% - 1em);
    background-color: var(--primary-bg);
    min-width: 100%;
    padding: 1em;
    list-style: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .7);
    font-weight: bold;
    height: min-content;
}

.user-pick .possibilities li:hover {
    cursor: pointer;
}

.user-pick .possibilities li:hover, .user-pick .possibilities li[data-selected="true"] {
    background-color: var(--primary-accent);
}

.comment {
    width: 100%;
}

.comment .editdate {
    margin-left: 1em;
    color: var(--primary-accent);
}


#loading {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 1s;
    background-color: rgba(0, 0, 0, .7);
}
#loading .spinner {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}


/* ==========================================================
 * Spinner
 * =========================================================*/

.spinner {
    width: 100px;
    height: 100px;
    position: relative;
    -webkit-animation: rotateit 1.3s linear infinite;
    -moz-animation: rotateit 1.3s linear infinite;
    animation: rotateit .5s linear infinite;
}

@-webkit-keyframes rotateit {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes rotateit {
    from {
        -moz-transform: rotate(360deg);
    }
    to {
        -moz-transform: rotate(0deg);
    }
}

@keyframes rotateit {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/*=======================================================
* Circles
*======================================================*/

.spinner.circles div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 35px;
    left: 45px;
}

.spinner.circles div:nth-child(1) {
    -webkit-transform: rotate(0deg) translate(0, -35px) scale(1.4);
    -moz-transform: rotate(0deg) translate(0, -35px) scale(1.4);
    transform: rotate(0deg) translate(0, -35px) scale(1.4);
}

.spinner.circles div:nth-child(2) {
    -webkit-transform: rotate(45deg) translate(0, -35px) scale(1.2);
    -moz-transform: rotate(45deg) translate(0, -35px) scale(1.2);
    transform: rotate(45deg) translate(0, -35px) scale(1.2);
    opacity: 0.7;
}

.spinner.circles div:nth-child(3) {
    -webkit-transform: rotate(90deg) translate(0, -35px) scale(1.1);
    -moz-transform: rotate(90deg) translate(0, -35px) scale(1.1);
    transform: rotate(90deg) translate(0, -35px) scale(1.1);
    opacity: 0.6;
}

.spinner.circles div:nth-child(4) {
    -webkit-transform: rotate(135deg) translate(0, -35px) scale(0.9);
    -moz-transform: rotate(135deg) translate(0, -35px) scale(0.9);
    transform: rotate(135deg) translate(0, -35px) scale(0.9);
    opacity: 0.5;
}

.spinner.circles div:nth-child(5) {
    -webkit-transform: rotate(180deg) translate(0, -35px) scale(0.7);
    -moz-transform: rotate(180deg) translate(0, -35px) scale(0.7);
    transform: rotate(180deg) translate(0, -35px) scale(0.7);
    opacity: 0.4;
}

.spinner.circles div:nth-child(6) {
    -webkit-transform: rotate(225deg) translate(0, -35px) scale(0.5);
    -moz-transform: rotate(225deg) translate(0, -35px) scale(0.5);
    transform: rotate(225deg) translate(0, -35px) scale(0.5);
    opacity: 0.3;
}

.spinner.circles div:nth-child(7) {
    -webkit-transform: rotate(270deg) translate(0, -35px) scale(0.3);
    -moz-transform: rotate(270deg) translate(0, -35px) scale(0.3);
    transform: rotate(270deg) translate(0, -35px) scale(0.3);
    opacity: 0.2;
}

.spinner.circles div:nth-child(8) {
    -webkit-transform: rotate(315deg) translate(0, -35px) scale(0.1);
    -moz-transform: rotate(315deg) translate(0, -35px) scale(0.1);
    transform: rotate(315deg) translate(0, -35px) scale(0.1);
    opacity: 0.1;
}